# FOR LOCAL DEVELOPMENT
REDIS_HOST=redis
REDIS_PORT=6379

# Email settings
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password

# DB settings
DB_USER=admin
DB_PASSWORD=password
DB_NAME=orders_db